.antique-link-box-3 {
    max-width: 320px;
    border-radius: var(--antique-link-boxes-border-radius);
    background-color: var(--antique-link-box-3-bg-color);
    overflow: hidden;
}

.antique-link-box-3-img-wrap {
    height: 242px;
}

.antique-link-box-3-img-wrap img {
    object-fit: var(--antique-link-box-3-img-object-fit);
}

.antique-link-box-3-img-wrap img.has-padding {
    padding-top: var(--antique-link-box-3-img-padding-tb);
    padding-bottom: var(--antique-link-box-3-img-padding-tb);
    padding-left: var(--antique-link-box-3-img-padding-lr);
    padding-right: var(--antique-link-box-3-img-padding-lr);
}

.antique-link-box-3 .antique-link-boxes-ref-indicator {
    top: 10px;
    right: 10px;
    color: var(--antique-link-box-3-ref-indicator-color);
    background-color: var(--antique-link-box-3-ref-indicator-bg-color);
}

.antique-link-box-3 .antique-link-boxes-ref-indicator.has-border {
    border-width: var(--antique-link-box-3-ref-indicator-border-width);
    border-style: var(--antique-link-box-3-ref-indicator-border-style);
    border-color: var(--antique-link-box-3-ref-indicator-border-color);
}

.antique-link-box-3-title-wrap {
    height: 58px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.antique-link-box-3-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-variant: small-caps;
    color: var(--antique-link-box-3-color);
    margin-top: auto;
    margin-bottom: auto;
}

.antique-link-box-3.has-border {
    border-width: var(--antique-link-box-3-border-width);
    border-style: var(--antique-link-box-3-border-style);
    border-color: var(--antique-link-box-3-border-color);
}

.antique-link-box-3.has-border .antique-link-box-3-heading-wrap {
    border-bottom-width: var(--antique-link-box-3-border-width);
    border-bottom-style: var(--antique-link-box-3-border-style);
    border-bottom-color: var(--antique-link-box-3-border-color);
}

.antique-link-box-3.has-folded-corner {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
}

.antique-link-box-3.has-folded-corner::after {
    content: '';
    position: absolute;
    right: -31px;
    bottom: -2px;
    border-bottom: 30px solid var(--antique-link-box-3-bg-color);
    border-right: 30px solid transparent;
    border-left: 30px solid var(--antique-link-box-3-bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    z-index: 2;
}