.antique-link-boxes-img-wrap {
    background-image: linear-gradient(135deg, #e0e0e0, #f7f7f7);
}

.antique-link-boxes-ref-wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 320px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4e4e4e;
}

.antique-link-boxes-ref-wrap span {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    padding: 8px;
    margin: 0;
}

.antique-link-boxes-ref-wrap .rich-text {
    display: block;
    margin: 0px 8px 8px 8px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid lightgray;
}

.antique-link-boxes-button-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.antique-link-boxes-remove-button-wrap {
    background-color: #7777774a;
    opacity: 0;
    transition: opacity 0.2s;
}

.antique-link-boxes-img-wrap:hover
.antique-link-boxes-remove-button-wrap {
    opacity: 1;
    transition: opacity 0.2s;
}