.antique-link-boxes {
    width: auto;
    margin: 10px auto;
    user-select: none;
    position: relative;
}

.antique-link-boxes * {
    box-sizing: border-box;
}

.antique-link-boxes-img-wrap {
    width: 100%;
    background-color: white;
    position: relative;
}

.antique-link-boxes-img-wrap img {
    width: 100%;
    height: 100%;
}

.antique-link-boxes-heading-wrap {
    width: 100%;
}

.antique-link-boxes-heading-wrap * {
    font-family: var(--antique-link-boxes-heading-font);
}

.antique-link-boxes-heading-wrap div {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.antique-link-boxes-heading-wrap span,
.antique-link-boxes-heading-wrap p,
.antique-link-boxes-heading-wrap h2,
.antique-link-boxes-heading-wrap h3,
.antique-link-boxes-heading-wrap h4 {
    text-align: center;
}

.antique-link-boxes-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 10;
    text-decoration: none;
}

.antique-link-boxes-no-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.40;
}

.antique-link-boxes-ref {
    display: none;
    margin-top: 20px;
    font-size: 13px;
    line-height: 16px;
}

.antique-link-boxes-ref-indicator {
    display: none;
    height: 18px;
    width: 18px;
    box-sizing: content-box;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
}

.antique-link-boxes-ref-list {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
}

@media only screen and (min-width: 768px) {

    .antique-link-boxes-shadow {
        animation-name: antique-link-boxes-shadow-out;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

    .antique-link-boxes-shadow:hover {
        animation-name: antique-link-boxes-shadow-in;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

    @keyframes antique-link-boxes-shadow-in {
        from {
            filter: drop-shadow(0px 0px 0px transparent) brightness(100%);
        }
        to {
            filter: drop-shadow(0px 0px 6px #b5b5b5) brightness(104%);
        }
    }
    @keyframes antique-link-boxes-shadow-out {
        from {
            filter: drop-shadow(0px 0px 6px #b5b5b5) brightness(104%);
        }
        to {
            filter: drop-shadow(0px 0px 0px transparent) brightness(100%);
        }
    }
}