.antique-link-box-1 {
    max-width: 320px;
    border-radius: var(--antique-link-boxes-border-radius);
    background-color: var(--antique-link-box-1-bg-color);
    overflow: hidden;
}

.antique-link-box-1-img-wrap {
    height: 124px;
}

.antique-link-box-1-img-wrap img {
    object-fit: var(--antique-link-box-1-img-object-fit);
}

.antique-link-box-1-img-wrap img.has-padding {
    padding-top: var(--antique-link-box-1-img-padding-tb);
    padding-bottom: var(--antique-link-box-1-img-padding-tb);
    padding-left: var(--antique-link-box-1-img-padding-lr);
    padding-right: var(--antique-link-box-1-img-padding-lr);
}

.antique-link-box-1 .antique-link-boxes-ref-indicator {
    bottom: 10px;
    right: 10px;
    color: var(--antique-link-box-1-ref-indicator-color);
    background-color: var(--antique-link-box-1-ref-indicator-bg-color);
}

.antique-link-box-1 .antique-link-boxes-ref-indicator.has-border {
    border-width: var(--antique-link-box-1-ref-indicator-border-width);
    border-style: var(--antique-link-box-1-ref-indicator-border-style);
    border-color: var(--antique-link-box-1-ref-indicator-border-color);
}

.antique-link-box-1-title-wrap {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.antique-link-box-1-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-variant: small-caps;
    margin-top: auto;
    margin-bottom: auto;
}

.antique-link-box-1-subtitle-wrap {
    height: 28px;
}

.antique-link-box-1-subtitle {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: auto;
}

.antique-link-box-1-title,
.antique-link-box-1-subtitle {
    color: var(--antique-link-box-1-color);
}

.antique-link-box-1.has-border {
    border-width: var(--antique-link-box-1-border-width);
    border-style: var(--antique-link-box-1-border-style);
    border-color: var(--antique-link-box-1-border-color);
}

.antique-link-box-1.has-border .antique-link-box-1-heading-wrap {
    border-top-width: var(--antique-link-box-1-border-width);
    border-top-style: var(--antique-link-box-1-border-style);
    border-top-color: var(--antique-link-box-1-border-color);
}

.antique-link-box-1.has-folded-corner {
    -webkit-clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
}

.antique-link-box-1.has-folded-corner::after {
    content: '';
    position: absolute;
    right: -31px;
    top: -2px;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid var(--antique-link-box-1-bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    z-index: 2;
}