.wp-picker-container button {
    margin: 0 !important;
}

.antique-link-boxes-options-wrap p,
.antique-link-boxes-options-wrap label {
    font-size: 14px !important;
}

.antique_link_boxes_row > th > label {
    font-weight: 500;
}

.object-fit-contain-settings {
    display: none;
}

.antique-link-boxes-submit-buttons-wrap {
    margin-top: 25px;
}

#updated {
    min-width: 200px;
    margin-right: 12px;
}

#reset_general,
#reset_block_1,
#reset_block_2,
#reset_block_3 {
    min-width: 200px;
    border: 1px solid darkred;
    color: darkred;
}